@model IList<SchoolStudentsApi.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Student</h4>
    <hr />
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">ID Number.</th>
                <th scope="col">Age</th>
                <th scope="col">Grade</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                @*<th scope="row">1</th>*@
                <td>@item.id</td>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.IDNumber</td>
                <td>@item.Age</td>
                <td>@item.Grade</td>
                <td> @Html.ActionLink("Edit", "Edit", new { id = @item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = @item.id })
                 </td>
            </tr>
        }
        @*<tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>*@
        @*<tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
        </tr>*@
        </tbody>
    </table>
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Create", "Create")
</div>
@*@foreach (var item in @Model)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(m=>m[0].Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model[0].Surname)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Surname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model[0].Age)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Age)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model[0].IDNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.IDNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model[0].Grade)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Grade)
            </dd>

        </dl>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Create", "Create")
</p>
</p>*@
